.bg{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  max-width: 100%;
  max-height: 100vh;
  display: grid;
  height: 100%;
}



html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
}
.deck{
  margin-bottom: 40px;
}
.bottom-container {
    display: table-row;
    height: 0;
}
.nav-item{
  margin-right: 20px;
  margin-left: 20px;
}
.bottom-container{
  margin-top: 100px;
  padding: 20px 0 10px;
  background-color: #212529;
  text-align: center;
}
.card-title{
  color: #fff;
  font-size: 3vh;
}
.card-text{
  color: #fff;
  font-size: 3vh;
}
.card{
  margin-left: 30%;
  margin-bottom: 1%;
}
.content{
  margin: 100px 0;
  margin-right: 85px;
  margin-left: 85px;
}
.copyright{
  color: #fff;
  margin-top: 10px;
}
a:hover{
  color: #fff;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
